[submodule "third_party/sokol"]
	path = third_party/sokol
	url = https://github.com/floooh/sokol
[submodule "third_party/cimgui"]
	path = third_party/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "test/nes-test-roms"]
	path = test/nes-test-roms
	url = https://github.com/christopherpow/nes-test-roms
